@font-face{
	font-family: zzgf;
	src: url("造字工房悦黑演示版常规体.otf");
}
body{
	background-color: #C1C1C1;
	cursor: url(/img/cursor.png), auto;
	font-family:zzgf;
}
#change_mouse{
	cursor: url(/img/cursor.png), auto;
}
#header_pic{
	text-align:center;
}
#idcard{
	margin: auto;
	text-align: center;
	display:inline-block;
	width: 100%;
	height:100%;
}
#grmp{
	width:80%;
	height:105px;

}
#idcard_info{
	margin: auto;
	text-align: center;
	font-size: 32px;
	line-height: 60%;
	color: #FFFFFF;
}
.color1 {color: #F90000}
.color2 {color: #FE6D58}
.color3 {color: #FF3C3C}
.color4 {color: #FF1313}
/********************************************************/
button{
 	background: none;
  	font: inherit;
  	line-height: 1.1;
  	margin: 0.5em;
  	padding: 0.8em 2.1em;
  	font-weight: bold;
	border: solid 0.88px black;
	cursor: pointer;
	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
}
.button:hover {
	opacity: 1;
	box-shadow:0px 0px 20px orange;
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.idcard_button:hover,
.idcard_button:focus {
  -webkit-animation: idcard_button 1.65s;
          animation: idcard_button 0.88s;
  box-shadow: 0 0 0 15em rgba(255, 255, 255, 0);
}

@-webkit-keyframes idcard_button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes idcard_button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.idcard_button {
  --color: #FF69B4;
  --hover: #DCDCDC;
}
button {
  color: var(--color);
  -webkit-transition: 0.8s;
  transition: 0.5s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}
/********************************************************/
